.block-heading {
  text-align: center;
}

.block-heading h2{
  color: #3b99e0;
	
}

.summary {
  background-color: #f7fbff;
}

.custom-border-top {
  border-top: 4px solid #5ea4f3; /* Change 'your_custom_color' to your desired color */
}